<div>
  <h1>
  Product list
</h1>
</div>

<div>
  <button mat-button mat-button color="primary" (click) = "GetProductList()" > Get Products list</button>
</div>

<div>
  <button mat-button mat-button color="primary" (click) = "PostNewProduct()" > Add a new product</button>
  <button mat-button mat-button color="primary" (click) = "UpdateProduct()" > Update product</button>


  <form [formGroup]="NewProductFormGroup" (ngSubmit)="PostNewProduct()" validate>
    <mat-form-field>
      <input matInput type="number" placeholder="product id" formControlName="ProductId"
      matTooltip="new product id">
      <mat-error *ngIf="NewProductFormGroup.controls.ProductId.invalid">{{getIdErrorMessage()}}</mat-error>
  </mat-form-field> 

    <mat-form-field>
      <input matInput type="text" placeholder="name" formControlName="ProductName"
      matTooltip="new product name">
      <mat-error *ngIf="NewProductFormGroup.controls.ProductName.invalid">{{getNameErrorMessage()}}</mat-error>
  </mat-form-field> 

    <mat-form-field>
      <input matInput type="number" placeholder="inventory" formControlName="ProductInventory"
      matTooltip="new product inventory number">
      <mat-error *ngIf="NewProductFormGroup.controls.ProductInventory.invalid">{{getInventoryErrorMessage()}}</mat-error>
  </mat-form-field> 

    <mat-form-field>
      <input matInput type="number" placeholder="price" formControlName="ProductPrice"
      matTooltip="new product unit price">
      <mat-error *ngIf="NewProductFormGroup.controls.ProductPrice.invalid">{{getPriceErrorMessage()}}</mat-error>
  </mat-form-field>
  </form> 
</div>

<div>
  <div *ngIf="loading">
      <mat-spinner></mat-spinner>
  </div>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Product ID">
      <th mat-header-cell *matHeaderCellDef> Product ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Inventory">
      <th mat-header-cell *matHeaderCellDef> Inventory Number </th>
      <td mat-cell *matCellDef="let element"> {{element.inventory}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Unit Price">
      <th mat-header-cell *matHeaderCellDef> Unit Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"> <button mat-button (click)='DeleteProductById(element.id)'>delete</button> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumnNames"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnNames;"></tr>
  </table>
</div>





